
<!doctype html>
<html lang="en">
	<head>
		<title>FUNDACIÓN CRISTO VIVE</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://webfonts.creativecloud.com/josefin-sans:n6,n7,n4,i6:default;comfortaa:n7,n4:default.js" type="text/javascript"></script>

		<link rel="stylesheet" type="text/css" href="http://fundacioncristovive.cl/css/new_style.css">
        <style media="screen">
            .bottom-space-10{
                margin-bottom: 30px;
            }
        </style>
	</head>
	<body >

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Donación</h4>
      </div>
      <div class="modal-body">
      	<iframe src="" id="checkout-iframe"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


		<div class="row background-header" >
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						<a class="navbar-brand" href="http://fundacioncristovive.cl/">
							<img src="http://fundacioncristovive.cl/images/logo-fundacion-2.png">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li ><a href="http://fundacioncristovive.cl/index.html">INICIO</a></li>
							<li class="dropdown">
								<a href="http://fundacioncristovive.cl/quienes-somos.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">QUIÉNES SOMOS <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://fundacioncristovive.cl/quienes-somos.html#nuestro-trabajo">NUESTRO TRABAJO</a></li>
									<li><a href="http://fundacioncristovive.cl/quienes-somos.html#mision-vision">MISIÓN Y VISIÓN</a></li>
									<li><a href="http://fundacioncristovive.cl/quienes-somos.html#hna-karoline">HNA. KAROLINE</a></li>
									<li><a href="http://fundacioncristovive.cl/quienes-somos.html#directorio">DIRECTORIO</a></li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="http://fundacioncristovive.cl/que-hacemos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">QUÉ HACEMOS <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://fundacioncristovive.cl/educacion-inicial.html">Educación inicial</a></li>
									<li><a href="http://fundacioncristovive.cl/formacion-laboral.html">Form. laboral</a></li>
									<li><a href="http://fundacioncristovive.cl/salud-familiar.html">Salud familiar</a></li>
									<li><a href="http://fundacioncristovive.cl/rehabilitacion-de-adicciones.html">Rehab. adicciones</a></li>
									<li><a href="http://fundacioncristovive.cl/personas-en-situacion-de-calle.html">Situación de calle</a></li>
									<li><a href="http://fundacioncristovive.cl/discapacidad-adultos.html">Discapacidad adult.</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="http://fundacioncristovive.cl/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CÓMO COLABORAR <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://fundacioncristovive.cl/como-colaborar.html">Donar en línea</a></li>
									<li><a href="http://fundacioncristovive.cl/como-colaborar.html#hazte-amigo">Hazte amigo</a></li>
									<li><a href="http://fundacioncristovive.cl/como-colaborar.html#hazte-voluntario">Hazte voluntario</a></li>
								</ul>
							</li>
							<li ><a href="http://news.fundacioncristovive.cl/" class="active" >NOTICIAS FCV</a></li>
							<li ><a href="http://fundacioncristovive.cl/#">CONTACTO</a></li>


						</ul>
						<ul class="nav navbar-nav navbar-social">
							<li ><a href="http://fundacioncristovive.cl/https://www.facebook.com/cristovivefundacion/"><img src="http://fundacioncristovive.cl/images/facebook.png?crc=412741016"></a></li>
							<li ><a href="http://fundacioncristovive.cl/https://twitter.com/fcristovive"><img src="http://fundacioncristovive.cl/images/twitter.png?crc=3851794436"></a></li>
							<li ><a href="http://fundacioncristovive.cl/https://www.youtube.com/user/FCVChile"><img src="http://fundacioncristovive.cl/images/youtube.png"></a></li>
						</ul>

						<ul class="nav navbar-nav navbar-resp">
							<li ><a href="http://fundacioncristovive.cl/como-colaborar.html#donar-en-linea">Donar en linea</a></li>
							<li ><a href="http://fundacioncristovive.cl/fcv-transparente.html">fcv transparente</a></li>
							<li ><a href="http://fundacioncristovive.cl/paginas-amigas.html">paginas amigas</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>

			</div>
		</div>

		<div class="clearfix"></div>

		<div class="container content">
			<div class="row">
				<div class="col-md-8 box-donation col-md-push-2 ">
                    <h1>{{ article["title"] }}</h1>
                    <img class="col-md-4" src="{{ article['thumb_500'] }}">
                    <h3>{{ article["caption"] }}</h3>
                    <div>
                        {{article['description']}}
                    </div>
				</div>
			</div>
		</div>


		<div class="products hidden" ></div>


		<div class="footer">
			FUNDACIÓN CRISTO VIVE 2017 © TODOS LOS DERECHOS RESERVADOS<br>
			DISEÑADO Y DESARROLLADO POR EVELYN REYES
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src='https://code.jquery.com/jquery-2.2.4.js' integrity='sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=' crossorigin='anonymous'></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="http://fm.lpe.cl/common/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="http://fm.lpe.cl/common/js/environment.detection.js"></script>
		<script type="text/javascript" src="https://www.placare.com/common/js/bodegas2/bodegas.client.js?12"></script>
		<script type="text/javascript" src="http://fundacioncristovive.cl/scripts/payment.js?3"></script>


        {% if is_admin %}
        <script type="text/javascript">
        var site_name="{{site.name}}";
        </script>
        <script type="text/javascript" src="{{ site_base }}/common/js/contentmanager.js?1" ></script>

        {% end %}

	</body>
</html>
